button 
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;

    /* consistent sizing for all form widgets / form controls */
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}