.container {
    background-color: lightblue;
    display: flex;
}

.item {
    background-color: lightgoldenrodyellow;
    color: #000;
    flex: 1;
    margin: 4px;
    padding: 2px;
    text-align: center;
}

