# fuzzy find in your projects using tmux-sessionizer when you press ^f
# \n means enter
"\C-f": "tmux-sessionizer\n"

# to keep the tab completion using cd colored
set colored-stats on

"\C-n": ""

set editing-mode vi
