/* This rule will only select the divs with the class child */
main > div {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 5px;
    padding: 5%;
}
  
  /* This rule will only select the divs with the class grand-child */
main > div > div {
    background-color: white;
    width: 50%;
    height: 50%;
    margin: auto;
}

.group1 + div {
    background-color: green;
}

.group1 + div + div {
    background-color: red;
}

/* not selected because +div + div has higher specificity (2 selectors) */
.group1 ~ div {
    background-color: black;
}