.config/autostart/
.config/caja/
.config/dconf/
.config/enchant/
.config/evolution/
.config/font-manager/
.config/github-copilot/
.config/google-chrome/
.config/hexchat/
.config/keepassx/
.config/khal/
.config/libreoffice/
.config/mimeapps.list
.config/mps-youtube/
.config/pix/
.config/qt5ct/
.config/QtProject.conf
.config/syncthing/
.config/user-dirs.dirs
.config/xed/
.config/xviewer/
.config/ytdl-gui/
