/* remove default appearance of checkbox */
input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"] {
    /* for the elements inside input type */
    position: relative;

    /* removing default appearance makes checkboxes invisible (they disappear from page, so they must be given 
        width and height */
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
}
  

/*  ChatGPT: when you use ::before on an input element, the pseudo-element is created inside the input element's box. 
    The ::before pseudo-element is positioned relative to the input element itself. 
    Since input[type="checkbox"] has a position: relative rule, the ::before element is positioned absolutely
    within the bounds of the input element 
    
    Same for before as well [for checkbox type inputs], so the choice to use is yours, use one of them
    in most cases tho, use what makes most sense, eg: use after for sth that is closer to right (end / after element) */
  
    input[type="checkbox"]::before {
    /* this ✔ is a text (unicode) */
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top: -0.3em;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }
  
  input[type="checkbox"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
  }
  