:root {
    --background-color: pink;
    --color-text: teal;
}

.fallback {
    --color-text: white;
    --background-color: grey;

    background-color: var(--undeclared-variable, black);
    color: var(--undeclared-variable, var(--color-text, red));
}

.cool-div {
    background-color: var(--background-color);
    color: var(--color-text);
}

.boring-div {
    background-color: var(--background-color);
    color: var(--color-text);
}

.inheritence {
    background-color: var(--bg);
}

.one {
    --bg: cornflowerblue;
}

.two {
    --bg: blue;
}

.three {
    --bg: rgb(196, 121, 121);
}