.container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 3px;
}

.box {
    margin: 2px;
    height: 80px;
    background-color: lightcoral;
    flex: 1 1 auto;
}