@import "./colors.css";
* {
    border: none;
    font-size: 12px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 15px;
    color: @fgcolor;
}

window#waybar {
  background: @bgcolor;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: @bgcolor;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: @bgcolor;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: @bgcolor;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#clock {
    font-weight: bold;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#battery.charging {
    color: #26A65B;
    background-color: @bgcolor;
}

#battery.warning:not(.charging) {
    background-color: @bgcolor;
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    background-color: @bgcolor;
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#workspaces button {
  background-color: @bgcolor;
  border-radius: 0px;
}

#workspaces button.empty {
  background-color: @bgcolor;
  /* transition: all 0.1s linear; */
  /*   opacity: 0.4; */
}

#workspaces button.active {
    opacity: 1.0;
    border-bottom: solid 1px @fgcolor;
}

/* if your is dead, don't animate the
 * battery icon on 0%, it gets annoying
 * fast */
#battery.critical:not(.charging) {
    color: @fgcolor;
    animation: none;
}
