.container {
    display: grid;
    resize: both;
    overflow: auto;
    gap: 5px;
    padding: 5px;
    grid-template: repeat(2, 150px) / repeat(5, 150px);
}

.item {
    background-color: lightblue;
    border: 2px solid grey;
}