.container {
    display: grid;
    resize: both;
    overflow: auto;
    gap: 5px;
    padding: 5px;
    grid-template: 150px 150px / 150px 150px 150px 150px 150px;
}

.item {
    background-color: lightblue;
    border: 2px solid grey;
}