/* if we don't maintain consistency, system defaults will be used */

/* for consistent forms across widgets */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* to give consistent sizes to all form elements / controls */
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
