.container {
    display: grid;
    width: 50%;
    
    grid-template-columns: 1fr 4fr;
    gap: 5px;

    grid-auto-rows: 50px;
    grid-auto-columns: 100px;
    /* if we don't specify this, the grid will lay out new row tracks based on the min-size of the content */

    grid-auto-flow: column;
    /* this tells the grid to add the new items of the grid in new columns [grid-auto-columns] is used here */
}

.container div {
    border: 2px solid black;
    background-color: yellow;
    display: grid;

    justify-content: center;
}