.container {
    display: grid;
    width: 50%;
    
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

.container div {
    border: 2px solid black;
    background-color: yellow;
    display: grid;

    justify-content: center;
}