input {
    border: 0;
    border-radius: 2px;
    margin: 10px 0px;
}

input:required {
    background-color: rgba(0, 128, 0, 0.329);
}

input:optional {
    background-color: rgba(135, 207, 235, 0.404);
}

/* using generated content with pseudo-classes */
