.container {
    background-color: aquamarine;
    padding: 2px;
    height: 140px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center; /* based on main axis */
    align-items: center;    /* based on cross axis */
    gap: 50px;
}

/* Remember: main axis for flex-direction: row  is row-direction (width wise) whereas for flex-direction:col
 is height wise */

/* so, the behaviour of align-items  and justify-content above changes */

.box {
    background-color: azure;
    margin: 2px;
}